<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816857531006-vqt4gjqm6om5o6kiej229t47un62k375.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816857531006-vqt4gjqm6om5o6kiej229t47un62k375</string>
	<key>API_KEY</key>
	<string>AIzaSyAzR5VTq50yMbnfgEUWjj0C8iOoy7esI0k</string>
	<key>GCM_SENDER_ID</key>
	<string>816857531006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lachaine.CSTracing</string>
	<key>PROJECT_ID</key>
	<string>segfinal-c7b60</string>
	<key>STORAGE_BUCKET</key>
	<string>segfinal-c7b60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816857531006:ios:b04a77f536b8d697e00e2f</string>
	<key>DATABASE_URL</key>
	<string>https://segfinal-c7b60.firebaseio.com</string>
</dict>
</plist>